In [2]:
import numpy as np
import pandas as pd

In [108]:
df = pd.read_csv("DC.csv",encoding='gbk',header=0,dtype={"得分":str},na_values=["小牛","客"])

In [109]:
df.head(6)

    对手 胜负  主客场    命中   投篮数   篮板    助攻  得分
0   勇士  胜  NaN  10.0  23.0  6.0  11.0  27
1   国王  胜  NaN   8.0   NaN  3.0   9.0  27
2  NaN  胜    主   NaN  55.0  3.0   NaN  29
3   灰熊  负    主   8.0  20.0  5.0   8.0  22
4  76人  胜  NaN  10.0  20.0  3.0  13.0  27
5   黄蜂  胜  NaN   8.0  18.0  NaN  11.0  27

In [55]:
df.columns

Index(['景区名称', '地区', '热度', '地址', '价格', '月销量'], dtype='object')

In [57]:
df.dtypes

景区名称     object
地区       object
热度       object
地址       object
价格      float64
月销量       int64
dtype: object

In [59]:
df['价格'].unique()

array([141.5, 100. ,  58. , 215. ,  25. , 118. , 168. ,  89. ,  99. ,
        80. ,  36. ,  35. ,  50. ,   3. , 109. ,  90. ,  65. ,  30. ,
       158. , 200. ,  98. , 350. , 268. , 318. , 130. , 298. ,  70. ,
       178. ,   2. ,  66. ,   9. , 518. ,  51. , 238. ,  28. ,  69. ])

In [22]:
# 获取 title
df.columns

Index(['景区名称', '星级', '地区', '热度', '地址', '价格', '月销量'], dtype='object')

In [16]:
# 获取第一列（索引值）
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59], dtype=int64)

In [18]:
# 将某一行记录转为字典 to_dict()
df_dict = df.loc[1,df.columns].to_dict()

In [19]:
df_dict

{'景区名称': '大连圣亚海洋世界',
 '星级': '4A景区',
 '地区': '辽宁·大连·沙河口区',
 '热度': '热度 0.82',
 '地址': '地址：大连市沙河口区中山路608-6-8号（星海广场西500米）',
 '价格': 100.0,
 '月销量': 666}

In [20]:
df.loc[1,df.columns]

景区名称                            大连圣亚海洋世界
星级                                  4A景区
地区                            辽宁·大连·沙河口区
热度                               热度 0.82
地址      地址：大连市沙河口区中山路608-6-8号（星海广场西500米）
价格                                 100.0
月销量                                  666
Name: 1, dtype: object

In [ ]:
# 将title和每行记录以字典形式封装
# for i in df.index.values:
#     df_dict = df.loc[1,df.columns].to_dict()
#     print(df_dict)